body {
    font-family: Arial; sans-serif;
	font-size: 100%;
	width:960px;
	margin-left:auto; 
    margin-right:auto;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #505050;
    padding: 0.1em 0px;
	text-align:left;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 1.625em;
    font-weight: normal;
    color: #484848;
    padding: 0.1em 0px;
	text-align:left;
}
h3 {
	font-style: normal;
	font-weight: 400;
	color: #8E8E8E;
	text-align:left;
}
p {
	font-size: 1em;
	color: #8E8E8E;	
	text-align:left;
}
ul#menu li{
	display: inline;
	text-decoration: none;	
}
li#navigation a {
	text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 0.8125em;
	padding: 10px 14px;
	text-decoration: none;
	color: #8E8E8E;
}
li#navigation a:hover, a:active {
	background-color: #FFFF99;
	color: #484848;
	text-decoration: none;
}
.menu {
    padding: 0px;
    border: 0px;
    margin: 0;
	text-align:center;
}
.body {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	padding: 0px;
    border: 0px;
    margin: 0;
	text-align:center;
} 
.header {
	padding-top: 20px;
	text-decoration: none;
	font-family: Arial, sans-serif;
    font-size: 1.625em;
    font-weight: normal;
    color: #484848;
	font-decoration: none;
	margin-left:auto; 
    margin-right:auto;	
 }
table.center {
    margin-left:auto; 
    margin-right:auto;
 }
 img {
	width: 100%;
}